boto3
fastapi
langchainhub
langchain
langchain_cohere
langchain_community
langchain_core
spacy
langchain_experimental
langchain_openai
langgraph
opencv_contrib_python
opencv_python
opencv_python_headless
pandas
Pillow
pydantic
surya-ocr==v0.4.14
torch
torchvision
tqdm
transformers
typing_extensions
uvicorn
gunicorn
PyMuPDF
pdf2image
frontend
matplotlib
unstructured[all-docs]
chromadb
numpy
duckduckgo-search
optimum