boto3
fastapi
langchainhub
langchain
langchain_cohere
langchain_community
langchain_core
langchain_experimental
langchain_openai
langgraph
opencv_contrib_python
opencv_python
opencv_python_headless
pandas
Pillow
pydantic
surya-ocr
torch
torchvision
tqdm
transformers
typing_extensions
uvicorn
gunicorn
PyMuPDF
pdf2image
frontend
matplotlib
unstructured[pdf]
chromadb
numpy
duckduckgo-search
