boto3
fastapi
nltk
langchainhub==v0.1.15
langchain==v0.1.15
langchain-chroma
langchain_community==v0.1.15
langchain_core==v0.1.15
spacy
langchain_experimental==v0.1.15
langchain_openai==v0.1.15
langgraph
opencv_contrib_python
opencv_python
opencv_python_headless
pandas
Pillow
pydantic
surya-ocr==v0.4.12
torch
torchvision
tqdm
transformers
typing_extensions
uvicorn
gunicorn
PyMuPDF
pdf2image
frontend
matplotlib
unstructured[all-docs]==v0.1.15
chromadb
numpy
duckduckgo-search
optimum
gptcache